<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="reveal.css">
    <title>Document</title>
</head>
<body>
    <canvas id="starfield" width="3000" height="2000">
    </canvas>
    <h1 style="color: white;">Reveal Mood
        <br>
        <%= data["books"] %> 
        <%= data["music"] %>
        <%= data["exercise"] %>
        <%= data["games"] %>
    </h1>
    <a href='/suggest'>More Activities</a>
    <script type="text/javascript" src="reveal.js"></script>
</body>
</html>