<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="reveal.css">
    <title>Document</title>
</head>

<body>
    <canvas id="starfield" width="3000" height="2000">
    </canvas>
    <div id="txt" style="color: white;">
        <h1>Reveal Mood</h1>
        <br>
        <h2>You can try reading this book:</h2>
        <br>
        <%= data["books"] %>
            <br>
            <h2>You can try listening to this music</h2>
            <br>
            <%= data["music"] %>
                <br>
                <h2>You can do this exercise</h2>
                <br>
                <%= data["exercise"] %>
                    <br>
                    <h2>You can play this game</h2>
                    <br>
                    <%= data["games"] %>
                        <br>
    </div>
    <br>
    <a href='/suggest' class="pill">More Activities</a>
    <script type="text/javascript" src="reveal.js"></script>
</body>

</html>