<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="suggest.css" type="text/css">
    <title>Suggesting</title>
</head>
<body>
<a href="Connect"><h1><button class="nav-toggle1"></button></h1></a>
<a href="#"><h1><button class="nav-toggle2"></button></h1></a>
<div class="blob">
  <h1>Breathe</h1>
</div>
<a href="#"><h1><button class="nav-toggle3"></button></h1></a>
<a href="#"><h1><button class="nav-toggle4"></button></h1></a>
</body>
</html>